

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="col-md-6 offset-md-3">

 <button class="btn btn-primary" [routerLink]="['/student-insert']">Insert Student Data</button>


  <button class="btn btn-primary" [routerLink]="['/student-update']">Update Student Data</button>

 <button class="btn btn-primary" [routerLink]="['/student-delete']">Delete Student Data</button>


<button class ="btn btn-primary" [routerLink]="['/student-list']">List Of All Students</button>

</div>
<router-outlet></router-outlet>